*.DS_Store
# Created by https://www.toptal.com/developers/gitignore/api/phpcodesniffer,thinkphp
# Edit at https://www.toptal.com/developers/gitignore?templates=phpcodesniffer,thinkphp

### PHPCodeSniffer ###
# CodeSniffer
##### MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

/vendor/*
/wpcs/*

### ThinkPHP ###
# gitignore template for ThinkPHP v3.2.3
# website: http://www.thinkphp.cn/

# Logs and Cache files
/Application/Runtime/

# Common configure file
/Application/Common/Conf/config.php

/id.md
/Application/MAMP/htdoc/clientsimple/json-03-crud


/static

!.gitignore

# ignore log files and databases
*.log
*.sql
*.sqlite
*.id.md
*.clients.php

*.note.md

.note.md
# Db
*.dbuser.sql
*.dbtable.sql
# End of https://www.toptal.com/developers/gitignore/api/phpcodesniffer,thinkphp